h1{
    text-align: center;
}
.container{
    background-color: rgb(78, 77, 77);
    width:540px;
    height: 620px;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    
}
#display{
    width: 530px;
    height: 90px;
    margin: auto;
    text-align: right;
    font-size: 50px;
}
.button{
    text-align: center;
    width: 100px;
    height: 80px;
    margin:10px;
    border-radius: 10px;
    font-size: 30px;
}
.button:hover{
    background-color: rgb(122, 121, 121);
}
.operator,.result{
    background-color: rgb(194, 193, 193);
}
.clear{
    background-color: brown;
}