h1{
  text-align: center;  
}
.container{
   width: 460px; 
   height: 540px;
   background-color: rgb(59, 59, 59);
   margin: auto;
   padding: 10px;
   border-radius: 10px;
}
p{
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px;
}
#screen{
    background-color: rgb(137, 135, 135);
    height: 80px;
    width:440px ;
    font-size: 50px;
    text-align: right;
    border-radius:5px ;
}
.button{
    background-color: rgb(29, 29, 29);
    color: white;
    width: 90px;
    height: 70px;
    font-size: 30px;
    margin: 10px;
    border-radius:10px;
}
.button:hover{
   background-color: rgb(49, 49, 49);
}
.operator,.result{
    background-color: rgb(173, 114, 4);
}
.clear{
    background-color: brown;
}
